body {
	font-family: Arial;
}

header {
	border-bottom: solid 2px #e9e9e9;
	padding-left: 25px;
}

nav a {
	text-decoration: none;
	color: blue;
}

nav a:hover {
	text-decoration: underline;
}

nav li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    /*font-size: 15px;*/
    line-height: 25px;
    border: 4px solid #f8f8f8;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    z-index: 5;
    padding-left: 10px;
    padding-right: 10px;
    color: #999;
    /*font-weight: 600;*/
    background-color: #fff;
}

nav .navigation-menu {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

nav .navigation-list {
	padding-top: 0px;
	margin-top: 0px;
}

.tiddler {
	position: relative;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;	
	border-right: solid 2px #e9e9e9;    
	border-bottom: solid 2px #e9e9e9;    
}

.tiddler pre {
	 white-space: pre-wrap;
}

/*.tiddler:nth-child(even) {
    border-top: solid 2px #e9e9e9;    
    border-bottom: solid 2px #e9e9e9;    
}*/

.tiddler-title {
	display: inline;
}

.tiddler-modified {
	display: inline;
	font-style: italic;
	text-decoration: none;
	color: gray;
	font-size: 1em;	
	padding-left: 5px;
}

.tiddler-edit-mode textarea, .tiddler-edit-mode input[type="text"] {
	width: 80%;
}

.tiddler-edit-mode textarea {
	height: 200px;
}

.tiddler-edit-visibility {
	display: block;
	/*text-align: right;*/
}

.toolbar {
	right: 15px;
	position: absolute;
}

.main-toolbar {
	top: 5px;
	right: 50px;
	position: absolute;
}

.make-top {
	top: 0px;
}

.visible {
	display: inline;
}

.hidden {
	display: none;
}

i {
	color: #0088cc;
}

i:hover {
	color: red;
}

