/* Page structure */
html, body { 
    height:100%;
    overflow:auto;
}

body {
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

nav {
    font-size: 1em;
    margin-left: 74%;
    position: absolute;
    float: right;    
}

nav ul {
    list-style: none;   
}

nav li {
    display: list-item;
}

#menu-button {
    display: none;
}

#content {
    float: left;
    /*min-height: 400px;*/
    margin-right: 20%;
    width: 75%; 
    position: relative;
}

.full-width {
    width: 100% !important;
}

.no-width {
    width: 0%;
}

i {
    font-size: 1.2em;
}

/* MEDIA QUERIES */
/* for 980px or less */
@media screen and (max-width: 980px) {

}

/* for 768px (iPad mini) or less */
@media screen and (max-width: 768px) {

}

/* for 568px (iPhone) or less */
@media screen and (max-width: 568px) {
    body {
        font-size: 80%;
    }
    header {
        padding-top: 20px;
    }
    nav {
        margin-left: 0;
        position: relative;
        text-align: center;       
        float: none;
        display: none;
        border-bottom: solid 2px #e9e9e9;            
    }
    nav ul {
        padding-left: 0px;
    }
    nav li {
        display: inline;
    }
    nav label {
        display: none;
    }               
    #menu-button {
        display: inline;
    }    
    #content {
        float: none;
        border-right: 0px;    
        width: 100%;
    }    
    i {
        font-size: 150%;
    }    
}
